<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angui.exam"
    android:versionCode="1"
    android:versionName="16.2.29.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    
   
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
   
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.angui.exam.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.angui.exam.MainTabActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.angui.exam.ShareFriendActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.angui.exam.TopicActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.angui.exam.MoreDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.angui.exam.RecordActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.angui.exam.DetailsRecordActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.angui.exam.ClassicsActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.angui.exam.StatisticsActivity"
            android:label="@string/app_name" >
        </activity>
		<activity
            android:name="com.angui.exam.StatisticsTopicTab"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.angui.exam.StatisticsTestTab"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.angui.exam.ShareSettingActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.angui.exam.social.SinaWeiboOAuthV2"
            android:label="@string/app_name" >
        </activity>
       
        <activity
            android:name="com.angui.exam.social.TencentWeiboOAuthV2"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.tencent.weibo.webview.OAuthV2AuthorizeWebView"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>